<section class="module module--text-block{% if module.theme %} module--theme-{{ module.theme }}{% endif %}">
  <div class="container">
    <div class="text-block__content">
      {% if module.pretitle %}
        <span class="text-block__pretitle">{{ module.pretitle }}</span>
      {% endif %}
      
      {% if module.title %}
        <h2 class="text-block__title">{{ module.title }}</h2>
      {% endif %}
      
      <div class="text-block__body">
        {{ module.content | safe }}
      </div>
      
      {% if module.cta %}
        <div class="text-block__cta">
          <a href="{{ module.cta.url }}" class="btn{% if module.cta.style %} btn--{{ module.cta.style }}{% endif %}">
            {{ module.cta.text }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</section>
